<div class="min-h-screen bg-gray-100 flex items-center justify-center py-10 px-4">
  <div class="w-full max-w-xl bg-white rounded-2xl shadow-lg p-6 sm:p-8">


    <div class="text-center mb-8">
      <h1 class="text-2xl font-bold text-black">
        <%= @project.new_record? ? "Create Project" : "Update Project" %>
      </h1>
      <p class="mt-2 text-sm text-gray-500">
        <%= @project.new_record? ? "Fill in the details to create a new project" : "Update the details of project" %>
      </p>
    </div>

    <%= form_with model: @project, class: "space-y-6" do |form| %>

      <% if @project.errors.any? %>
        <div class="bg-red-50 border border-red-200 rounded-lg p-4">
          <h2 class="text-sm font-semibold text-red-700 mb-2">
            <%= pluralize(@project.errors.count, "error") %> prevented this project from being saved:
          </h2>
          <ul class="list-disc list-inside text-sm text-red-600">
            <% @project.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div>
        <%= form.label :title, "Title *", class: "block text-sm font-medium text-gray-700 mb-1" %>
        <%= form.text_field :title,
                            placeholder: "Enter Project Title",
                            class: "w-full border border-gray-300 rounded-lg px-3 py-2 focus:ring-purple-500 focus:border-purple-500"
        %>
      </div>

      <div>
        <%= form.label :description, "Description ", class: "block text-sm font-medium text-gray-700 mb-1" %>
        <%= form.text_area :description,
                           rows: 8,
                           placeholder: "Describe your project...",
                           class: "w-full border border-gray-300 rounded-lg px-3 py-2 focus:ring-purple-500 focus:border-purple-500"
        %>
      </div>



      <div>
        <%= form.label :skill_ids, "Skills *", class: "block text-sm font-medium text-gray-700 mb-1" %>
        <p class="mt-1 text-sm text-gray-400">
          Please select at least one skill. <br>
          Hold <span class="font-medium">Ctrl</span> (Windows) or
          <span class="font-medium">Command ⌘</span> (Mac) to select multiple.
        </p>
        <%= form.collection_select :skill_ids, Skill.all, :id, :name, {}, multiple: true,
                                   class: "w-full border border-gray-300 rounded-lg px-3 py-2" %>

      </div>


      <div>
        <%= form.label :status, "Status *", class: "block text-sm font-medium text-gray-700 mb-1" %>
        <%= form.select :status,
                        Project.options_for_select.map { |key, value| [value, key] },
                        {},
                        class: "w-full border border-gray-300 rounded-lg px-3 py-2"
        %>
      </div>


      <div>
        <%= form.label :url, "Project URL (optional)", class: "block text-sm font-medium text-gray-700 mb-1" %>
        <%= form.text_field :url,
                            placeholder: "https://github.com/me/my-project",
                            class: "w-full border border-gray-300 rounded-lg px-3 py-2 focus:ring-purple-500 focus:border-purple-500"
        %>
      </div>


      <div class="pt-6 flex flex-col sm:flex-row gap-4 justify-center">

      <%= link_to "Cancel",
                    projects_path,
                    class: "flex-1 py-3 border border-gray-300 rounded-lg text-black bg-white hover:bg-gray-100 transition text-lg font-medium text-center"
        %>

        <%= form.submit @project.new_record? ? "Create Project" : "Update Project",
                        class: "flex-1 py-3 rounded-lg bg-purple-600 text-white font-semibold hover:bg-purple-700 transition text-lg text-center"
        %>
      </div>



    <% end %>
  </div>
</div>
