<div class="min-h-screen bg-gray-100 flex items-center justify-center py-10">
  <div class="w-full max-w-xl bg-white rounded-2xl shadow-lg p-8">
    <%= form_with model: @project, class: "space-y-5" do |form| %>
      <% if @project.errors.any? %>
        <h2><%= pluralize(@project.errors.count, "error") %>: project not saved:</h2>
        <ul>
          <% @project.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      <% end %>

      <div>
        <%= form.label :title, class: "block font-medium mb-1" %>
        <%= form.text_field :title, class: "w-full border rounded-lg px-3 py-2" %>
      </div>

      <div>
        <%= form.label :description, class: "block font-medium mb-1" %>
        <%= form.text_area :description, rows: 8, class: "w-full border rounded-lg px-3 py-2" %>
      </div>

      <div>
        <%= form.label :url, class: "block font-medium mb-1" %>
        <%= form.text_field :url,  class: "w-full border rounded-lg px-3 py-2" %>
      </div>

      <div>
        <%= form.label :status, class: "block font-medium mb-1" %>
        <%= form.select :status, Project.statuses.keys.map { |s| [s.humanize, s] }, prompt: "Project status" %>
      </div>

      <div>
        <%= form.label :skill_ids, "Skills", class: "block font-medium mb-1" %>
        <%= form.collection_select :skill_ids, Skill.all, :id, :name, {}, multiple: true %>
      </div>

      <div class="pt-4 text-center">
        <%= form.submit @project.new_record? ? "Create Project" : "Update Project", class: "bg-black text-white px-6 py-2 rounded-lg hover:opacity-80 transition" %>
      </div>
    <% end %>
  </div>
</div>
