<div class="min-h-screen bg-gray-100 py-10">
  <div class="max-w-3xl mx-auto bg-white shadow-lg rounded-2xl p-8 relative">
    <h1 class="text-3xl font-bold text-center text-gray-500"><%= @project.title %></h1>

    <% if @project.project_skills.any? %>
      <ul>
        <% @project.project_skills.each do |project_skill| %>
          <li><%= project_skill.skill.name %></li>
        <% end %>
      </ul>
    <% end %>

    <p class="text-gray-600 text-center mb-2"><%= @project.description %></p>

    <% case @project.status %>
      <% when 'mentors' %>
        <p>Looking for mentors.</p>
      <% when 'teammates' %>
        <p>Looking for teammates.</p>
      <% when 'both' %>
        <p>Looking for mentors.</p>
        <p>Looking for teammates.</p>
      <% when 'closed' %>
        <p>This project is closed.</p>
    <% end %>

    <% if @project.user == current_user %>
      <%= link_to "Edit Project", edit_project_path(@project), class: "absolute top-6 right-6 bg-black text-white px-4 py-2 rounded-lg hover:opacity-80 transition" %>
      <%= button_to 'Delete Project', project_path(@project),
        method: :delete,
        class: "absolute top-16 right-6 bg-black text-red-600 px-4 py-2 rounded-lg hover:opacity-80 transition"%>
    <% end %>
  </div>
</div>
