<div class="min-h-screen bg-gray-100 py-10">
  <div class="max-w-3xl mx-auto bg-white shadow-lg rounded-2xl p-8 relative">
    <h1 class="text-3xl font-bold text-center text-gray-500"><%= @project.title %></h1>

    <% if @project.project_skills.any? %>
      <ul>
        <%= render 'project_skills', project: @project %>
      </ul>
    <% end %>

    <p class="text-gray-600 text-center mb-2"><%= @project.description %></p>
    <%= link_to "Project Repo ", @project&.url, target: :_blank, rel: :noopener%>
    <%= render 'project_status', project: @project %>



    <% if @project.user == current_user %>
      <%= link_to "Edit Project", edit_project_path(@project), class: "absolute top-6 right-6 bg-black text-white px-4 py-2 rounded-lg hover:opacity-80 transition" %>
      <%= button_to 'Delete Project', project_path(@project),
        method: :delete,
        class: "absolute top-16 right-6 bg-black text-red-600 px-4 py-2 rounded-lg hover:opacity-80 transition"%>
    <% end %>
  </div>
</div>